{
  "verbose": false,
  "tempDirectory": "./coverage/.tmp",
  "extension": [
    ".ts",
    ".tsx",
    ".js"
  ],
  "include": [
    "src/**/*.js",
    "src/**/*.ts"
  ],
  "exclude": [
    "coverage/**",
    "node_modules/**",
    "**/*.d.ts",
    "**/*.test.ts"
  ],
  "print": "detail",
  "reporter": [
    "html",
    "text",
    "text-summary",
    "lcov"
  ],
  "watermarks": {
    "statements": [
      70,
      90
    ],
    "lines": [
      70,
      90
    ],
    "functions": [
      70,
      90
    ],
    "branches": [
      70,
      90
    ]
  }
}
