language: node_js
node_js:
  - 'node'
  - '8'
env:
  - DB=postgres
  - DB=mysql
  - DB=sqlite
sudo: false
install: npm install
before_script:
  - psql -c 'create database sequelize;' -U postgres
  - mysql -e 'CREATE DATABASE sequelize;'
services:
  - postgresql
  - mysql
